﻿@{
    ViewBag.Title = "Home Page";
}

<!doctype html>
<html class="no-js" lang="en">
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Welcome area -->
    <br /><br /><br />
        <div class="container-fluid geneology_content">
            <br>
            <ul class="nav nav-tabs nav-justified form-responsive geneology-tabs">
                <li class="active"><a data-toggle="tab" href="#home">banban</a></li>
                <li><a data-toggle="tab" href="#menu2">alejo</a></li>
                <li><a data-toggle="tab" href="#menu3">JM</a></li>
                <li><a data-toggle="tab" href="#menu4">jazper</a></li>
                <li><a data-toggle="tab" href="#menu4">jazper</a></li>
                <li><a data-toggle="tab" href="#menu4">curry</a></li>
                <li><a data-toggle="tab" href="#menu4">jazper</a></li>
                <li><a data-toggle="tab" href="#menu4">curry</a></li>
                <li><a data-toggle="tab" href="#menu3">JM</a></li>
                <li><a data-toggle="tab" href="#menu4">jazper</a></li>
                <li><a data-toggle="tab" href="#menu4">curry</a></li>
                <li><a data-toggle="tab" href="#menu3">JM</a></li>
                <li><a data-toggle="tab" href="#menu4">jazper</a></li>
                <li><a data-toggle="tab" href="#menu4">curry</a></li>
                <li><a data-toggle="tab" href="#menu4">jazper</a></li>
                <li><a data-toggle="tab" href="#menu4">curry</a></li>
                <li><a data-toggle="tab" href="#menu3">JM</a></li>
                <li><a data-toggle="tab" href="#menu4">jazper</a></li>
                <li><a data-toggle="tab" href="#menu4">curry</a></li>
                <li><a data-toggle="tab" href="#menu3">JM</a></li>
                <li><a data-toggle="tab" href="#menu4">jazper</a></li>
                <li><a data-toggle="tab" href="#menu4">curry</a></li>
                <li><a data-toggle="tab" href="#menu4">jazper</a></li>
                <li><a data-toggle="tab" href="#menu4">curry</a></li>
                <li><a data-toggle="tab" href="#menu3">JM</a></li>
                <li><a data-toggle="tab" href="#menu4">jazper</a></li>
                <li><a data-toggle="tab" href="#menu4">curry</a></li>
                <li><a data-toggle="tab" href="#menu3">JM</a></li>
                <li><a data-toggle="tab" href="#menu4">jazper</a></li>
                <li><a data-toggle="tab" href="#menu4">curry</a></li>
            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <br><br>
                    <div class="col-lg-9 table-responsive">
                        <table class="table table-striped geneology-table">
                            <tr>
                                <th>1-Col 1</th>
                                <th>1-Col 2</th>
                                <th>1-Col 3</th>
                                <th>1-Col 4</th>
                                <th>1-Col 5</th>
                            </tr>
                            <tbody>
                                <tr>
                                    <td>1-row 1</td>
                                    <td>1-row 2</td>
                                    <td>1-row 3</td>
                                    <td>1-row 4</td>
                                    <td>1-row 5</td>
                                </tr>
                                <tr>
                                    <td>1-row 1</td>
                                    <td>1-row 2</td>
                                    <td>1-row 3</td>
                                    <td>1-row 4</td>
                                    <td>1-row 5</td>
                                </tr>
                                <tr>
                                    <td>1-row 1</td>
                                    <td>1-row 2</td>
                                    <td>1-row 3</td>
                                    <td>1-row 4</td>
                                    <td>1-row 5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-3 card-container">
                        <div class="card">
                            <img src="~/Content/img/1.jpg" />
                            <br>
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><br>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <script src="~/Scripts/jquery-1.12.4.min.js"></script>
        <script src="js/jquery.meanmenu.js"></script>
        <script src="~/Scripts/jquery.scrollUp.min.js"></script>
        <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
        <script src="~/Scripts/mCustomScrollbar-active.js"></script>
        <script src="~/Scripts/metisMenu-active.js"></script>
        <script src="~/Scripts/metisMenu.min.js"></script>
        <script src="~/Scripts/main.js"></script>
</body>
</html>